@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'poppins',sans-serif;
color: rgb(201, 233, 254);
text-decoration: none;

}

:root
{
    --bg-color:#09031B;
    --sec-bg-color:#344162;
    --text-color: #aa78cd;
     --white : #fdfdfd;
     --sub-color:#e4d4f9;
}
html{
    font-size:50%;
    overflow-x: hidden;
}
body
{
    background-color: var(--bg-color);
     color: var(--white);
    
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
  background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}
.header.sticky
{
   background:var(--bg-color); 
}
.logo
{
    position: relative;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 600;
  
}
.navbar
{
    position: relative;
}
.navbar a
{
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 1000;
    margin-left: 3.5rem;
    transition: 0.3s;
}
.navbar a:hover,
.navbar a.active
{
color: var(--sub-color);
}
#menu-icon
{
   font-size: 5rem;
   color: var(--text-color);
   cursor: pointer; 
   display: none;
}
section
{
    min-height: 100vh;

    padding:10rem 9% 2rem;

}

.home
{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(imgs/HEADER.jpeg) no-repeat;
    background-size: cover;
    background-position: end;
}

.home-content
{
    max-width: 65rem;
    z-index: 99;
}

.home-content h1
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}



.home-content h1 span
{
    color: #fff;
}
 
.home-content .text-animate
{
    position: relative;
    width: 33.8rem;
}

.home-content .text-animate h3
{
    font-size: 3.0rem;
    font-weight: 700;
    color: transparent;
   -webkit-text-stroke: 1.5px var(--sec-bg-color);
   background-image: linear-gradient(var(--sub-color),var(--white));
   background-repeat: no-repeat;
   -webkit-background-clip: text;
   background-position: 0 0;
   animation:homeBgText 6s linear infinite ;
   animation-delay: 2s;
}
.home-content .text-animate h3::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--sec-bg-color);
    z-index: -1;
    animation:homeCursorText 6s linear infinite ;
    animation-delay: 2s;
}

.home-content p
{
    font-size: 1.7rem;
    margin: 2rem 0 4rem;
}

.btn-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;

}
.btn-box .btn
{
    position: relative;
    display: flex;
   justify-content: center;
    padding-top: 3%;
    width: 15rem;
    height: 100%;
    background-color:var(--sub-color);
    border: 0.2rem solid var(--sub-color);
    border-radius: 0.8rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
}


.btn-box .btn::before
{
    content:' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#87a7f3 ;
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before
{
    width: 100%;
}

.home-sci
{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
 
}
.home-sci a
{
position: relative;
display: inline-flex;
justify-content: center;
align-items:center ;
width: 40px;
height: 40px;
background: transparent;
border: 0.2rem solid var(--sec-bg-color);
border-radius:50% ;
font-size: 25px;
color:var(--sub-color);
z-index: 1;
overflow: hidden;

}
.home-sci a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(65, 59, 84, 0.7);
    z-index:-1 ;
    transition: 0.5s;

}
.home-sci a:hover::before{
    width: 100%;
}


.home-imghover
{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 2s;

}

.home-imghover:hover
{
    background: var(--bg-color);
    opacity: 0.8;
}



.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #0d0f2a;
    padding-bottom:6rem ;
}

.heading
{
   font-size: 5rem;
   margin-bottom:3rem ; 
   text-align: center;
}





.about-img
{
position: relative;
width: 25rem;
height:25rem;
border-radius:50%;
display: flex;
justify-content: center;
align-items: center;

}

.about-img img
{
width: 90%;
border-radius: 50%;
border: 0.2rem solid var(--sec-bg-color);

}
span
{
    color: var(--sub-color);
}

.about-img .circle-spain
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
       border-top: 0.2rem solid  transparent;
    border-bottom: 0.2rem solid  transparent;
    border-left: 0.2rem solid var(--white);
    border-right: 0.2rem solid  var(--white);
    animation: aboutspinner 8s linear infinite;

}

.titl
{
    font-size: 3rem;
}
.about-content
{
   text-align: center; 
}
.about-content h3
{
    font-size: 2.6rem;
}
.about-content p
{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns
{
display: inline-block;
width: 15rem;


}
.btn-box.btns a ::before
{
    background: var(--sec-bg-color);
}

.education
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom:5rem ;
}

.education .education-row
{
display: flex;
flex-wrap: wrap;
gap: 5rem;
}

.education-row .education-column
{
  flex:1 1 40rem;
}
.education-column .title
{
  font-size: 4rem;
  margin: 0 0 1.5rem 2rem;  
}

 .education-column .education-box
{
border-left:0.2rem solid var(--sub-color) ;
}
.education-box .education-content
{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before
{
  content: ' ';
  position: absolute;
  top: 0;
 left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--text-color);
    border-radius: 50%;
}

.education-content .content
{
    position: relative;
    padding:1.5rem;
    border: 0.2rem solid var(--text-color);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#4e60707d;
    z-index: -1;
    transition: 0.5s;
}
.education-content .content:hover::before
{
width: 100%;
}
.education-content .content .year
{
    font-size: 1.5rem;
    color: var(--sub-color);
    padding-bottom: 0.5rem;
}

.education-content .content .year i
{
padding-right: 0.5rem;
}
.education-content .content h3
{
    font-size: 2rem;
}
.education-content .content p 
{
    font-size: 1.6rem;
    padding-top: 0.5rem;
}
.skills
{
    min-height: auto;
    padding-bottom: 7rem;
    background: #0d0f2a;

}
.skills .skills-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column
{
flex: 1 1 40rem;
}
.skills-column .title
{
    font-size: 2.5rem;
    margin:0 0 1.5rem ;
}
.skills-box .skills-content
{
position: relative;
border: 0.2rem solid var(--sub-color);
border-radius: 0.6rem;
padding: 0.5rem 1.5rem;
z-index: 1;
overflow: hidden;
}
.skills-box .skills-content::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#4e60707d;
    z-index: -1;
transition: 0.5s;
}
.skills-box .skills-content:hover::before
{
    width: 100%;
}


.skills-content .progress
{
    padding: 1rem 0;
}
.skills-content .progress h3
{
font-size: 1.7rem;
display: flex;
justify-content: space-between;
color: var(--white);
}

.skills-content .progress h3 span
{
color: var(--white);
}
.skills-content .progress .bar
{
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--text-color);
    padding: 0.5rem;
    margin: 1rem 0;

}
.skills-content .progress .bar span
{
    display: block;
    height: 100%;
    border-radius:0.3rem ;
    background: var(--sub-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span
{
    width:90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span
{
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span
{
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span
{
    width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span
{
    width: 40%;
}




.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span
{
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span
{
    width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span
{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span
{
    width: 65%;
}


.contact
{
    min-height: auto;
    padding-bottom: 7rem;
   
}
.contact form
{
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box .input-field
{
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea
{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--sub-color);
    background: transparent;
    border-radius: 0.6rem ;
    border: 0.2rem solid var(--text-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder
{
    color: var(--sub-color);
}

.contact form .focus
{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4e60707d;
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus ,
.contact form .input-box .input-field input:valid~.focus ,
.contact form .textarea-field textarea:focus~.focus ,
.contact form .textarea-field textarea:valid~.focus
{
    width: 100%;
}
.contact form .textarea-field
{
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}
.animate
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:var(--bg-color);
    z-index: 98;
}
.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate
{
animation:showright 1s ease forwards;
animation-delay:calc(0.3s * var(--i)) ;

}

.contact form .textarea-field textarea
{
    resize: none;
}

.contact form .btn-box.btns .btn
{
   cursor: pointer;
}

.btn-box.btns  button.btn.submit
{
    position: absolute;
    left: 62rem;
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #0d0f2a;
}
.footer-text p
{
    font-size: 1.6rem;
}

.footer-icontop a
{
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
padding: 0.8rem;
background:#9299cd;
border: 0.2rem solid var(--sub-color);
border-radius: 0.6rem;
z-index: 1;
overflow: hidden;

}

.footer-icontop a::before
{
    content: ' ';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background:#100b1d ;
    z-index: -1;
    transition: 0.5s;

}
.footer-icontop a:hover::before
{
width: 100%;
}


.footer-icontop a i 
{
    font-size: 2.4rem;
    color:var(--bg-color);
    transition: 0.5s;
}

.footer-icontop a:hover i
{
    color: #fff;
} 

@media(max-width:1200px)
{
    html
    {
        font-size: 52%;
    }
    .btn-box.btns  button.btn.submit
{
    position: absolute;
    left: 50rem;
}
}
@media(max-width:991px){
    .header
    {
        padding: 2rem 4%;
    }

section
{
    padding: 10rem 4% 2rem;
}
.home
{
    padding: 0 4%;
}
.btn-box.btns  button.btn.submit
{
    position: absolute;
    left: 45rem;
}
.footer
{
    padding:2rem 4% ;
}
}

@media(max-width:768px)
{
    .header
    {
        background: var(--bg-color);
    }
    #menu-icon
    {
          position: absolute;
          left: 85%;    
        display: block;
      
        

    }

    .btn-box.btns  button.btn.submit
    {
        position: absolute;
        left: 33rem;
    }
    .navbar
    {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background-color: #131218;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transition: 0.25s ease;
        transition-delay: 0.25s;

    }
    .active.active
    {
        transition-delay: 0s;
        left: 0;
    }
    .navbar a
    {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home-imghover
    {
        pointer-events: none;
        background: var(--bg-color);
        opacity: 0.6;

    }





    @media(max-width:520px)
    {

        html
        {
            font-size: 51%;
        }
        .btn-box.btns  button.btn.submit
        {
            position: absolute;
            left: 14rem;
        }
        .home-content h1
        {
            display: flex;
            flex-direction: column;
        }
        .home-sci
        {
            width: 160px;
        }
        .home-sci a
        {
            width:38px ;
            height: 38px;

        }






    }
}
@media(max-width:462px)
{
    .btn-box.btns  button.btn.submit
        {
            position: absolute;
            left: 13rem;
        }
    .home-content h1
    {
        font-size:5.2rem  ;
    }
    .education
    {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field
    {
        width: 100%;
    }
    .footer
    {
        flex-direction: column-reverse;
    }
    footer p
    {
      margin-top: 2rem; 
      text-align: center; 
    }
    footer p
    {
      margin-top: 2rem;  
    }
    .home
    {
        justify-content: center;

    }
    .home-content
    {
        display: flex;
        align-items: center;
        flex-direction:column ;
        text-align: center;
    }
    .home-content h1
    {
        font-size: 5rem;;
    }
}

@media(max-width:371px)
{
    .btn-box.btns  button.btn.submit
    {
      
      position: absolute;
      left: 5rem;
    }
.home-content h1
{
    font-size:5.2rem  ;
}
.education
{
    padding: 10rem 4% 5rem 5%;
}

.contact form .input-box .input-field
{
    width: 100%;
}
.footer
{
    flex-direction: column-reverse;
}
footer p
{
  margin-top: 2rem; 
  text-align: center; 
}
    btn-box.btns  button.btn.submit
    {
        position: absolute;
        left: -10rem;
    }
    .home
    {
        justify-content: center;

    }
    .home-content
    {
        display: flex;
        align-items: center;
        flex-direction:column ;
        text-align: center;
    }
    .home-content h1
    {
        font-size: 5rem;;
    }

}


@keyframes homeBgText{
    0%,10%,100%
    {
background-position: -33rem 0;
    }
    65%,85%
    {
background-position: 0 0;
    }
}
@keyframes homeCursorText{
    0%,10%,100%
    {
width: 0;
    }
    65%,78%,85%
    {
width: 100%;
opacity: 1;
    }
    75%,
    81%
    {
        opacity: 0;
    }
}



@keyframes  aboutspinner
{
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes showright
{
    100%
    {
width: 0;
    }
}
